services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: hawkeyes
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hawkeyes
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:

